In [82]:
import numpy as np
import pandas as pd
import glob,os
coding='UTF-8'
path = 'air quality data_20180101-20180331/'
files = os.listdir(path)
for single_csv in files:
    single_data_frame = pd.read_csv(os.path.join(path, single_csv))
#     print(single_data_frame.info())
    if single_csv == files[0]:
        all_data_frame = single_data_frame
    else:  # concatenate all csv to a single dataframe, ingore index
        all_data_frame = pd.concat([all_data_frame, single_data_frame], ignore_index=True)
a=all_data_frame

In [95]:
a=a.groupby(['date','hour','type']).mean()
a

                         1001A  1002A  1003A  1004A  1005A  1006A  1007A  \
date     hour type
20180101 0    AQI         74.0   56.0  103.0   82.0  109.0   95.0   89.0
              CO           1.4    0.8    2.0    1.3    1.6    1.7    1.7
              CO_24h       0.8    0.7    1.1    0.8    0.8    0.9    0.9
              NO2         82.0   36.0   93.0   74.0   92.0   86.0   81.0
              NO2_24h     55.0   34.0   50.0   50.0   54.0   51.0   57.0
...                        ...    ...    ...    ...    ...    ...    ...
20180331 23   PM10_24h   168.0  125.0  170.0  144.0  150.0  146.0  141.0
              PM2.5      162.0  101.0  178.0  133.0  148.0  139.0  128.0
              PM2.5_24h  107.0   80.0  110.0  102.0  104.0   98.0   91.0
              SO2          6.0    6.0   12.0    2.0   10.0    8.0    8.0
              SO2_24h     13.0    8.0   17.0   12.0   18.0   14.0   12.0

                         1008A  1009A  1010A  ...  3136A  3137A  3138A  3139A  \
date     hour type                            ...
20180101 0    AQI         58.0   56.0   68.0  ...    NaN    NaN   93.0  135.0
              CO           1.1    1.5    1.5  ...    NaN    NaN    1.2    1.2
              CO_24h       1.1    1.0    0.9  ...    1.1    NaN    1.1    1.3
              NO2         60.0   47.0   47.0  ...    NaN    NaN   45.0   42.0
              NO2_24h     64.0   39.0   39.0  ...   32.0    NaN   40.0   30.0
...                        ...    ...    ...  ...    ...    ...    ...    ...
20180331 23   PM10_24h   134.0  121.0  130.0  ...   60.0   38.0  111.0   98.0
              PM2.5      150.0  108.0  103.0  ...   28.0   25.0   69.0   80.0
              PM2.5_24h   95.0   84.0   83.0  ...   30.0   24.0   72.0   75.0
              SO2         15.0    7.0    8.0  ...    7.0    4.0    8.0   12.0
              SO2_24h     14.0    9.0   10.0  ...    7.0    4.0   16.0   16.0

                         3140A  3141A  3147A  3148A  3149A  3153A
date     hour type
20180101 0    AQI        134.0  180.0    NaN    NaN    NaN    NaN
              CO           1.2    1.9    NaN    NaN    NaN    NaN
              CO_24h       1.1    1.5    NaN    NaN    NaN    NaN
              NO2         37.0   70.0    NaN    NaN    NaN    NaN
              NO2_24h     31.0   43.0    NaN    NaN    NaN    NaN
...                        ...    ...    ...    ...    ...    ...
20180331 23   PM10_24h   111.0  215.0  145.0   45.0  158.0  181.0
              PM2.5       77.0   68.0   79.0   39.0  120.0  109.0
              PM2.5_24h   71.0  102.0   81.0   29.0   89.0   80.0
              SO2          8.0   20.0   23.0   12.0   27.0    9.0
              SO2_24h     13.0   25.0   15.0    9.0   21.0    9.0

[32385 rows x 1602 columns]

In [85]:
all_data_frame

,date,hour,type,1001A,1002A,1003A,1004A,1005A,1006A,1007A,...,3136A,3137A,3138A,3139A,3140A,3141A,3147A,3148A,3149A,3153A
0,20180213,0,AQI,65.0,68.0,65.0,70.0,65.0,58.0,56.0,...,102.0,102.0,127.0,192.0,139.0,49.0,61.0,96.0,115.0,NaN
1,20180213,0,PM2.5,47.0,49.0,47.0,51.0,44.0,36.0,30.0,...,71.0,76.0,96.0,144.0,106.0,28.0,33.0,68.0,87.0,NaN
2,20180213,0,PM2.5_24h,13.0,10.0,13.0,14.0,14.0,11.0,10.0,...,76.0,60.0,97.0,97.0,100.0,25.0,19.0,67.0,66.0,NaN
3,20180213,0,PM10,75.0,68.0,71.0,54.0,80.0,66.0,62.0,...,154.0,142.0,164.0,235.0,221.0,49.0,72.0,142.0,124.0,NaN
4,20180213,0,PM10_24h,51.0,52.0,58.0,45.0,60.0,56.0,54.0,...,174.0,164.0,198.0,207.0,212.0,73.0,72.0,171.0,137.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32380,20180222,23,O3_24h,88.0,94.0,92.0,74.0,96.0,96.0,100.0,...,84.0,93.0,102.0,110.0,112.0,124.0,116.0,103.0,74.0,120.0
32381,20180222,23,O3_8h,46.0,75.0,58.0,45.0,66.0,55.0,48.0,...,68.0,71.0,86.0,93.0,93.0,100.0,89.0,78.0,59.0,95.0
32382,20180222,23,O3_8h_24h,74.0,90.0,79.0,73.0,86.0,83.0,90.0,...,75.0,83.0,91.0,100.0,94.0,116.0,105.0,90.0,62.0,104.0
32383,20180222,23,CO,1.0,0.9,0.6,0.6,0.6,0.9,1.0,...,0.8,0.6,1.4,1.4,1.3,0.6,0.7,0.6,1.1,1.1
32384,20180222,23,CO_24h,0.6,0.4,0.3,0.4,0.5,0.5,0.6,...,0.8,0.6,1.3,1.3,1.2,0.7,0.9,0.4,1.3,1.2

In [86]:
b=all_data_frame

In [87]:
b['date']=b['date'].astype('str')
b['date']=b['date'].str[0:6]
b['date']=b['date'].astype('int')
b

,date,hour,type,1001A,1002A,1003A,1004A,1005A,1006A,1007A,...,3136A,3137A,3138A,3139A,3140A,3141A,3147A,3148A,3149A,3153A
0,201802,0,AQI,65.0,68.0,65.0,70.0,65.0,58.0,56.0,...,102.0,102.0,127.0,192.0,139.0,49.0,61.0,96.0,115.0,NaN
1,201802,0,PM2.5,47.0,49.0,47.0,51.0,44.0,36.0,30.0,...,71.0,76.0,96.0,144.0,106.0,28.0,33.0,68.0,87.0,NaN
2,201802,0,PM2.5_24h,13.0,10.0,13.0,14.0,14.0,11.0,10.0,...,76.0,60.0,97.0,97.0,100.0,25.0,19.0,67.0,66.0,NaN
3,201802,0,PM10,75.0,68.0,71.0,54.0,80.0,66.0,62.0,...,154.0,142.0,164.0,235.0,221.0,49.0,72.0,142.0,124.0,NaN
4,201802,0,PM10_24h,51.0,52.0,58.0,45.0,60.0,56.0,54.0,...,174.0,164.0,198.0,207.0,212.0,73.0,72.0,171.0,137.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32380,201802,23,O3_24h,88.0,94.0,92.0,74.0,96.0,96.0,100.0,...,84.0,93.0,102.0,110.0,112.0,124.0,116.0,103.0,74.0,120.0
32381,201802,23,O3_8h,46.0,75.0,58.0,45.0,66.0,55.0,48.0,...,68.0,71.0,86.0,93.0,93.0,100.0,89.0,78.0,59.0,95.0
32382,201802,23,O3_8h_24h,74.0,90.0,79.0,73.0,86.0,83.0,90.0,...,75.0,83.0,91.0,100.0,94.0,116.0,105.0,90.0,62.0,104.0
32383,201802,23,CO,1.0,0.9,0.6,0.6,0.6,0.9,1.0,...,0.8,0.6,1.4,1.4,1.3,0.6,0.7,0.6,1.1,1.1
32384,201802,23,CO_24h,0.6,0.4,0.3,0.4,0.5,0.5,0.6,...,0.8,0.6,1.3,1.3,1.2,0.7,0.9,0.4,1.3,1.2

In [92]:
b=b.groupby(['date','hour','type']).mean()
b.dropna(axis=1)

                            1001A       1002A       1003A       1004A  \
date   hour type
201801 0    AQI         71.482759   56.225806   69.548387   65.115385
            CO           0.868966    0.845161    0.909677    0.796154
            CO_24h       0.841935    0.745161    0.900000    0.832258
            NO2         54.137931   28.645161   50.870968   48.576923
            NO2_24h     46.733333   28.064516   44.935484   43.115385
...                           ...         ...         ...         ...
201803 23   PM10_24h   138.791667  146.160000  145.041667  147.823529
            PM2.5      100.032258   80.225806  103.548387   99.200000
            PM2.5_24h   91.129032   83.774194   93.548387   91.833333
            SO2          8.483871    5.935484   11.806452    5.419355
            SO2_24h     10.193548    7.483871   12.419355    7.580645

                            1005A       1006A       1007A       1008A  \
date   hour type
201801 0    AQI         70.451613   67.741935   64.419355   63.870968
            CO           0.861290    0.819355    0.835484    1.112903
            CO_24h       0.806452    0.822581    0.829032    1.009677
            NO2         57.548387   52.290323   54.483871   40.064516
            NO2_24h     48.806452   47.419355   48.161290   36.064516
...                           ...         ...         ...         ...
201803 23   PM10_24h   147.370370  145.923077  136.318182  139.173913
            PM2.5       99.516129   99.096774   93.032258  107.741935
            PM2.5_24h   92.258065   90.258065   85.000000   92.354839
            SO2         10.548387   10.838710    9.129032   11.548387
            SO2_24h     11.774194   11.451613   10.096774   12.258065

                            1009A       1010A  ...       3134A       3136A  \
date   hour type                               ...
201801 0    AQI         52.677419   63.137931  ...  158.814815  107.481481
            CO           0.916129    1.131034  ...    1.686667    1.044444
            CO_24h       0.738710    0.925806  ...    1.632258    1.135484
            NO2         27.161290   34.533333  ...   57.000000   40.777778
            NO2_24h     26.161290   35.433333  ...   52.000000   40.258065
...                           ...         ...  ...         ...         ...
201803 23   PM10_24h   130.350000  121.571429  ...  115.433333   83.806452
            PM2.5      102.964286   84.258065  ...   68.666667   50.354839
            PM2.5_24h   89.821429   81.225806  ...   70.645161   54.000000
            SO2          5.451613    8.258065  ...   14.612903    8.774194
            SO2_24h      7.161290    8.677419  ...   16.193548    9.000000

                           3137A       3138A       3139A       3140A  \
date   hour type
201801 0    AQI        99.750000  100.000000  104.870968  101.322581
            CO          1.366667    1.296774    1.332258    1.306452
            CO_24h      1.358333    1.264516    1.348387    1.219355
            NO2        54.916667   40.193548   39.774194   39.419355
            NO2_24h    49.500000   35.161290   36.322581   32.193548
...                          ...         ...         ...         ...
201803 23   PM10_24h   85.290323   58.966667   64.258065   61.064516
            PM2.5      58.838710   42.966667   48.516129   44.483871
            PM2.5_24h  49.258065   37.800000   42.483871   39.322581
            SO2        10.354839    7.866667    8.806452   10.741935
            SO2_24h    11.290323    9.600000   11.129032   12.645161

                            3141A       3147A       3148A       3149A
date   hour type
201801 0    AQI        176.677419  134.800000  101.000000  105.416667
            CO           2.164516    1.283333    1.127273    1.491667
            CO_24h       2.074194    1.350000    1.133333    1.408333
            NO2         65.032258   47.250000   51.666667   45.666667
            NO2_24h     55.225806   45.333333   47.500000   41.750000
...                           ...         ...         ...         ...
201803 23   PM10_24h   150.161290  124.166667   88.000000   76.483871
            PM2.5       77.967742   73.290323   55.709677   45.766667
            PM2.5_24h   88.032258   75.806452   53.870968   45.290323
            SO2         14.645161   15.064516   10.161290   15.709677
            SO2_24h     16.838710   14.806452   11.258065   16.483871

[1080 rows x 1482 columns]

In [ ]:
path2 = 'station id/'
files2 = os.listdir(path)
for single_csv in files:
    single_data_frame = pd.read_csv(os.path.join(path, single_csv))
#     print(single_data_frame.info())
    if single_csv == files[0]:
        all_data_frame2 = single_data_frame
    else:  # concatenate all csv to a single dataframe, ingore index
        all_data_frame2 = pd.concat([all_data_frame, single_data_frame], ignore_index=True)